span.bdt {
    font-weight: bolder;
}
.empty-cart {
    width: 100% !important;
    text-align: center !important;
}

h4.cart-empty-link {
    text-align: center !important;
    width: 100% !important;
}
.cart-empty {
    text-align: center !important;
    width: 100% !important;
}
